@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  scrollbar-width: 4rem;
  scroll-behavior: smooth;
  list-style: none;
}
:root {
  --main-color: #ea3c3c;
  --button-hover: #ea6464d1;
  --text-color: #000;
  --shadow-color: 2px 2px 10px 4px rgb(14 55 54 / 15%);
  --bg-color: #fff;
  --second-color: #edeae3;
}
.Hero-sec {
  margin-top: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: url(../imges/bgimage.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 80px 100px;
}
.hero {
  z-index: 0;
  width: 40%;
}
.hero h1 {
  color: white;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
.hero h1 span {
  color: var(--main-color);
}
.hero p {
  color: white;
  font-size: 0.938rem;
  font-weight: 500;
}
.hero .buttons {
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 0;
}

#rent {
  background-color: #fff;
  color: #000;
}

#rent:hover {
  background-color: var(--button-hover);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.img {
  height: 330px;
  width: 230px;
  background-image: url(../imges/3.jpg);
  background-size: cover;
  object-fit: contain;
  background-position: center;
  border: white solid 2px;
  border-radius: 30px;
  margin-top: -20px;
}

@media (max-width: 1030px) {
  .hero h1 {
    font-size: 1.9rem;
  }

  .hero p {
    font-size: 0.8rem;
  }
  .img {
    width: 200px;
    height: 300px;
  }
  .buttons {
    padding: 0 0px;
    gap: 20px;
  }
}
@media (max-width: 1004px) {
  .hero h1 {
    font-size: 1.7rem;
  }

  .hero p {
    font-size: 0.7rem;
  }
  .img {
    width: 200px;
    height: 300px;
  }
  .buttons {
    padding: 0 0px;
    gap: 20px;
  }
  button {
    padding: 8px 20px;
  }
}
@media (max-width: 886px) {
  .hero h1 {
    font-size: 1.7rem;
  }

  .hero p {
    font-size: 0.7rem;
  }
  .img {
    width: 200px;
    height: 300px;
  }
  .buttons {
    padding: 0 0px;
    gap: 20px;
  }
  button {
    padding: 8px 15px;
  }
}
@media (max-width: 833px) {
  .hero {
    width: 100%;
    align-items: center;
  }
  .hero h1 {
    font-size: 2.4rem;
  }

  .hero p {
    font-size: 1.1rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
  #buy,
  #rent {
    padding: 8px 40px;
  }
  .img {
    display: none;
  }
}
@media (max-width: 610px) {
  .hero {
    width: 100%;
    align-items: center;
  }
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 0.8rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
  #buy,
  #rent {
    padding: 8px 30px;
  }
  .img {
    display: none;
  }
}
@media (max-width: 524px) {
  .hero {
    width: 100%;
    align-items: center;
  }
  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 0.7rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
  #buy,
  #rent {
    padding: 8px 10px;
  }
  .img {
    display: none;
  }
}
@media (max-width: 453px) {
  .hero {
    width: 100%;
    align-items: center;
  }
  .hero h1 {
    font-size: 1.6rem;
  }

  .hero p {
    font-size: 0.6rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
  #buy,
  #rent {
    padding: 8px 2px;
  }
  .img {
    display: none;
  }
}
